
body {
  text-align:center;
  font-family:sans-serif;
}
h1 {
  display:block;
  position:absolute;
  font-size:3.2em;
  color:#fff;
  text-shadow: 0 0 0.2em #666; 
  margin:0;
  padding:0;
  font-family:monospace;
  right:1em;
  top:1em;
}

ul
{
list-style-type: none;
padding: 0px;
margin: 0px;
}
/*------------------------graph area----------------*/
#graph-wrap, #graph-scale {
  width:60%;
  margin-left:28%;
  clear:both;
}
#graph-wrap  {
  min-height:1345px;
  box-shadow:0 3px 3px #999 inset;
  position:relative;
  background:rgba(212,212,212,0.6) url(grid.png) repeat-y;
  background-size:100%;
}
#graph-wrap div {
  height:2px;
  background-color:#666;
  text-align:left;
}
#graph-wrap div:hover {
  background-color:#999;
}

#graph-wrap div.hours {
  background-color:#B85895
}
.hours span{
  position:relative;
  font-size:0.8em;
  left:-3.2em;
  top:-0.6em;
}
#graph-wrap div.days {
  background-color:#B8AB58;
}
.days span{
  position:relative;
  margin-left:-7.8em;
  top:-0.5em;
}
#top-pusher {
  clear:both;
  display:block;
  height:50px;
}
/*------------------------status bar----------------*/
#status-wrap {
  position:fixed;
  top:0;
  right:0;
  width:100%;
  height:58px;
  background:#333;
  color:white;
  font-family:monospace;
  font-size:16px;
}
#status-bar {
  padding:10px;
}
#status-bar a {
  font-size:0.8em;
  color:#999;
}
#graph-scale li{
width:10%;
text-align:left;
float:left;
color:#333;
background:#aaa;
padding:0px;
}




