body {
  text-align:center;

    font-family:sans-serif;
}
h1 {
  font-size:3.2em;
  color:#fff;
  text-shadow: 0 0 0.2em #000; 
  margin:0;
  padding:0;
    font-family:monospace;
  }
p {
  margin:0 0 1em 0;
  padding:0;
}
ul
{
list-style-type: none;
padding: 0px;
margin: 0px;
}

#uptime {
   font-size:1.2em;
     text-shadow: 0 0 0.2em #fff; 
}

#graph-wrap, #graph-scale {
  width:60%;
  margin-left:28%;
  clear:both;
}

#graph-scale li{
width:10%;
text-align:left;
float:left;
}
#graph-wrap  {
  height:1345px;
  box-shadow:0 3px 3px #999 inset;
  background-color:#444;
  position:relative;
}
#graph-wrap div {
  height:2px;
  background-color:#666;
  text-align:left;
}
#graph-wrap div:hover {
  background-color:#999;
}

#graph-wrap div.hours {
  background-color:#B85895
}
.hours span{
  position:relative;
  font-size:0.8em;
  left:-3.2em;
  top:-0.6em;
}
#graph-wrap div.days {
  background-color:#B8AB58;
}
.days span{
  position:relative;
  margin-left:-7.6em;
  top:-0.5em;
}

#graph-wrap {
  background:rgba(212,212,212,1) url(grid.png) repeat-y;
  background-size:100%;
}

#status-wrap {
  position:fixed;
  top:0;
  right:0;
  width:100%;
  background:#333;
      font-family:monospace;
      font-size:1.2em;
}
#status-bar {
  color:white;
  font-size:1.12em;
  padding:0.5em;

}
#status-bar a {
  font-size:0.8em;
  color:#999;
}

#top-pusher {
  clear:both;
  display:block;
  height:48px;
}



